/* Colors and fonts */
body {
background-color: rgb(230, 230, 230);
color: rgb(50, 50, 50);
font-family: 'Indie Flower', cursive;
font-size: 17px;
}

h1, h2, h3 {
	font-family: 'Charmonman', cursive;
}
    h1 {
    	color: #0080D6;
    	 font-size: 32px;
    	 font-weight: 700;
    }	
    h2{
    color: #0080D6 ;
    font-size: 24px;
    font-weight: lighter;     	
    }
    a{
    	text-decoration: none;
    	color: #BC0000;
    }
    a:hover {
    	color: #83F7C6;	
    }
/* Custom design with class (90% àf your design) */
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container{
		width: 600px;
	}
}
	@media (max-width: 500px){
		.container{
			width: 400px;
		}
	}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #6B72E1 ;
	color: white
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline{
	display: inline;
	padding: 10px;
}
.list-iline{
	font-size: 50px;
	color: rgba(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}
/* design adjustment using id (1% design remaining) */
#introduction p {
	margin-bottom: 40px

}
